.about-me {
  text-align: center;
}
img {
  border-radius: 50%;
}
.jumbotron {
  background-size: cover;
  padding-top: 20%;
  padding-bottom: 20%;
}
.other-type {
  align-items: right;
}
.my-form {
  margin: 20px;
}
